# ignore nf logs
*.nextflow.log*

# ignore workdirs
*work

# ignore hidden nextflow dirs
*.nextflow/

# ignore test results
modules/*/test/results/

# ignore .Rhistory
*.Rhistory

# paper res, because they can be replicated
paper-results/